/**
 * Feedback form
 */
.pafb-feedback-title {
  margin-top: 2em;
  margin-bottom: 1em;
}

#pafb-feedback-form {
  width: 100%;
  overflow: hidden;
  min-height: 100px;
}

#pafb-feedback-form .pafb-feedback-controls {
  display: block;
  width: 100%;
  float: left;
  height: 50px;
}

#pafb-feedback-form #pafb-survey-questions {
  min-height: 200px;
}

#pafb-feedback-form ul li, #pafb-feedback-form .pafb-feedback-controls ul.navigation li {
  list-style: none;
}

#pafb-feedback-form .pafb-feedback-overlay {
  padding: 50px 30px 30px;
  height: auto;
  float: left;
  width: 100%;
  display: block;
}

#pafb-survey-questions textarea, #pafb-survey-questions input[type='text'] {
  font-size: 14px;
  border: 1px solid #eaeaea;
  width: 100%;
  padding: 0.5em;
}

#pafb-feedback-form .pafb-feedback-controls ul.navigation {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#pafb-feedback-form .pafb-feedback-controls ul.navigation li.next,
#pafb-feedback-form .pafb-feedback-controls ul.navigation li.done {
  float: right;
}

#pafb-feedback-form .pafb-feedback-controls ul.navigation li.prev {
  float: left;
}

#pafb-feedback-form .pafb-feedback-controls ul.navigation li.next a,
#pafb-feedback-form .pafb-feedback-controls ul.navigation li.prev a,
#pafb-feedback-form .pafb-feedback-controls ul.navigation li.done a {
  color: #FFF;
  border: 0px;
  font-size: 34px;
  line-height: 47px;
  padding-right: 13px;
  padding-left: 13px;
}

.pafb-feedback-controls a:focus, .pafb-feedback-controls a:active, .pafb-feedback-controls a.active, .pafb-feedback-controls a:focus:active,
#pafb-survey-questions textarea:focus, #pafb-survey-questions input[type='text']:focus,
#pafb-survey-questions textarea:active, #pafb-survey-questions input[type='text']:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#pafb-feedback-form .pafb-rating-items li {
  display: inline;
  padding: 5px;
}

#pafb-feedback-form .items {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

#pafb-feedback-form .items ul {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.pafb-survey-question {
  margin-bottom: 15px;
  display: block;
}

#pafb-feedback-form .items li {
  margin-bottom: 5px;
  position: relative;
  clear: both;
  overflow: hidden;
}

#pafb-feedback-form .items .pafb-rating-karma {
  font-size: 10px;
  max-width: 398px;
}

#pafb-feedback-form .pafb-rating-karma li {
  display: inline-block;
}

.pafb-rating-karma li:last-child {
  float: right;
}

.pafb-rating-items {
  clear: both;
}

.pafb-confirmation {
  margin-bottom: 20px;
}

/*
 * Radio fileds
 */
#pafb-survey-questions [data-type="rating"] label,
#pafb-survey-questions [data-type="choice"] label,
#pafb-survey-questions [data-type="positive-negative"] label {
  width: 100%;
}

/* hide input */
#pafb-survey-questions [data-type="rating"] input[type="radio"]:empty,
#pafb-survey-questions [data-type="choice"] input[type="radio"]:empty,
#pafb-survey-questions [data-type="positive-negative"] input[type="radio"]:empty {
  margin-left: -999px;
}

#pafb-survey-questions [data-type="rating"] input[type="radio"]:empty ~ label,
#pafb-survey-questions [data-type="choice"] input[type="radio"]:empty ~ label,
#pafb-survey-questions [data-type="positive-negative"] input[type="radio"]:empty ~ label {
  position: relative;
  float: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pafb-survey-questions [data-type="choice"] input[type="radio"]:empty ~ label,
#pafb-survey-questions [data-type="positive-negative"] input[type="radio"]:empty ~ label {
  line-height: 3em;
  text-indent: 1.5em;
}

#pafb-survey-questions [data-type="rating"] input[type="radio"]:hover:not(:checked) ~ label,
#pafb-survey-questions [data-type="choice"] input[type="radio"]:hover:not(:checked) ~ label,
#pafb-survey-questions [data-type="positive-negative"] input[type="radio"]:hover:not(:checked) ~ label {
  opacity: .9;
}

#pafb-survey-questions [data-type="rating"] input[type="radio"]:checked ~ label,
#pafb-survey-questions [data-type="choice"] input[type="radio"]:checked ~ label,
#pafb-survey-questions [data-type="positive-negative"] input[type="radio"]:checked ~ label {
  color: #fff;
}

/**
 * Rating field
 */
#pafb-survey-questions [data-type="rating"] label {
  width: 3em;
  line-height: 3em;
  margin-right: 1px;
}

#pafb-survey-questions [data-type="rating"] input[type="radio"]:empty ~ label {
  text-align: center;
}

/**
 * Progress bar
 */
#pafb-feedback-form #pafb-progress {
  width: 100%;
  position: relative;
  float: left;
  margin-top: -4px;
}

#pafb-feedback-form #pafb-percent {
  position: absolute;
  left: 50%;
}

#pafb-feedback-form #pafb-bar {
  height: 4px;
  width: 0%;
  background: #ccc;
}
